aiohttp
aiohttp-cors
aiortc
av
configargparse
dearpygui
diffusers
edge-tts
face-alignment
ffmpeg-python
Flask
flask-sockets
google-genai
google-generativeai
imageio
librosa
lpips
lws
matplotlib
modelscope
more-itertools
mmpose
numpy
onnx
onnxruntime
opencv-python
openai
packaging
pandas
Pillow
PyAudio
PyMCubes
python-speech-features
regex
requests
rich
resampy
scikit-learn
scipy
selenium
soundfile
SpeechRecognition
tensorboardX
tensorflow
thop
torch
torch-ema
torchvision
tqdm
transformers
trimesh
webdriver-manager
websockets
websockets-proxy
